<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body class="container-main">
    <div class="container mTop custom-wide-container">
       <%#  Navigation header partial  %>
       <%- include('../partials/header.ejs') %>
       <%# Header banner partical for each page with page specific information %>
       <%- include('../partials/dashboard-pages-welcome.ejs') %>
     
        <%# main body of reports page %>
      <div
        class="has-background-white p-6 mtopclear mybk3 rounded-box"
        style="margin-bottom: 2rem !important"
      >
        <h1>Upload CSV to Server</h1>
        <form id="process-file" enctype="multipart/form-data">
          <div class="columns">
            <div class="column is-half">
              <div id="student-data-file" class="file is-medium has-name">
                <label class="file-label">
                  <input
                    class="file-input"
                    type="file"
                    name="studentData"
                    accept=".csv"
                  />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label"> Choose a file… </span>
                  </span>
                  <span class="file-name"> no file uploaded </span>
                </label>
              </div>
            </div>

            <div class="column is-half">
              <button
                class="button is-primary is-centered is-large"
                type="submit"
              >
                Process file
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script src="/js/mass-upload-handler.js"></script>
  </body>
</html>
