<head>
  <link rel="stylesheet" href="/css/dashboard-pages-welcome.css" />
</head>

<section class="hero is-info mb-5 rounded-box">
  <div class="hero-body">
    <!-- Student side -->
    <% if (user && user.role === 'student') { %>
    <p class="title">
      Welcome, <%= studentData[0].first_name %> <%= studentData[0].last_name %>
    </p>
    <p class="subtitle-studentId">Student ID: <%= studentData[0].sId %></p>

    <% if (title === 'Student Dashboard') { %>
    <p class="subtitle-page-title">
      Academic Progress Monitoring System Dashboard
    </p>
    <% } else if (title === 'Student Profile') { %>
    <p class="subtitle-page-title">Student Profile Overview</p>
    <% } else if (title === 'Progress') { %>
    <p class="subtitle-page-title">Student Progress Overview</p>
    <% } else if (title === 'modules') { %>
    <p class="subtitle-page-title">Student Courses Overview</p>
    <% } else if (title === 'Notifications') { %>
    <p class="subtitle-page-title">Student Notifications Overview</p>

    <!-- admin side -->
    <% } %> <% } else if (user && user.role === 'admin') { %> <% if (title ===
    'Admin Dashboard') { %>
    <p class="title">Welcome, Admin</p>
    <p class="subtitle-page-title">
      Welcome to the Academic Progress Monitoring Systems Dashboard
    </p>
    <p class="subtitle-page-title">
      You can manage students and courses from here
    </p>
    <% } else if (title === 'Student Management') { %>
    <p class="title">Student Management</p>
    <% } else if (title === 'Student Details') { %>
    <p class="title">Student Details:</p>
    <% } else if (title === 'Degree Programs') { %>
    <p class="title">Manage Degree Programs</p>
    <% } else if (title === 'Degree Details') { %>
    <p class="title">Manage Modules For:</p>
    <p class="sub-title"><%= program_details.name %></p>

    <% } else if (title === 'Course Management') { %>
    <p class="subtitle-page-title">Course Management</p>
    <% } %> <% } %>
  </div>
</section>
