
<head>
  <link rel="stylesheet" href="/css/header.css">
</head>

  <!-- Navigation Header -->
  <header class="mTop rounded-box">
    <nav class="has-background-white navbar rounded-box" role="navigation" aria-label="main navigation">

      <div class="navbar-burger js-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    

      <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item is-flex">
              
              <a class="buttons is-flex">
                <% if (user && user.role === 'student') { %>
                <a class="button is-primary rounded-button" href="/student-dashboard">
                  <strong>Student Dashboard</strong>
                </a>
                <a class="button is-light" href="/student-dashboard/profile">Profile Overview and Progression Summary</a>
                <a class="button is-light" href="/student-dashboard/modules">Modules and Grades</a>
                <a class="button is-light" href="/student-dashboard/messaging-hub">Messaging Hub</a>
              </a> 
              
              <% } else if (user && user.role === 'admin') { %>
                <a class="button is-primary rounded-button" href="/admin/admin-dashboard">
                  <strong>Admin Dashboard</strong>
                </a>
                <a class="button is-light" href="/admin/students">Students</a>
                <a class="button is-light" href="/admin/degree-programs">Degree Programs</a>
                <a class="button is-light" href="/admin/modules">Modules</a>
                <a class="button is-light" href="/admin/reports">Reports</a>
                <a class="button is-light" href="/admin/messaging">Messaging Hub</a>
              
              <% } else { %>
              <% } %>
              </a>
            </div>
          </div>
          
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons is-flex">
                <% if (user && user.role === 'student') { %>
                  <a class="button is-danger" href="/logout">Log Out</a>
                <% } else if (user && user.role === 'admin') { %>
                  <a class="button is-info" href="/admin/mass-upload">Mass Records Upload</a>
                  <a class="button is-danger" href="/logout">Logout</a>
                <% } %>
              </div>
            </div>
          </div>
          
          
      </div>
    </nav>
  </header>