<hr>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Academic Progression Monitoring Web App </strong> by <a href="www.linkedin.com/in/john-livingstone-638a581a1">John Livingstone</a>.
      </p>
    </div>
</footer>