<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item-logo" href="/index">
            <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
              <image href="/images/Logo.png" x="05" y="05" width="70" height="70" />
              
            </svg>
          </a>
        

        <div class="navbar-end ">
          <div class="navbar-item">
            <div class="buttons">
              <a class="sign up button is-light" href="/signup">
                <strong>Sign up</strong>

              </a>
              <a class="log in button is-light" href="/login">
                Log in
              </a>
              <a class="Contact button is-light" href="/contact">
                Contact us
              </a>
            </div>
          </div>
        </div>
        </div>
      
        
    </nav>
    <hr>
</header>