.hero {
    background: var(--blue-colour) !important;
    /* color: var(--blue-colour); */
    padding: 1.5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    -webkit-transition: background 0.3s ease, box-shadow 0.3s ease;
    -moz-transition: background 0.3s ease, box-shadow 0.3s ease;
    -ms-transition: background 0.3s ease, box-shadow 0.3s ease;
    -o-transition: background 0.3s ease, box-shadow 0.3s ease;
      display: flex;  
  }

  .title {

    font-size: 2rem;
    font-weight: bold;
    color: var(--pastel-pink-colour) !important; ;
    margin: 0% !important ;
  } 

  .subtitle-studentId {
    font-size: 1.2rem;
    color: var(--yellow-colour) !important;
    margin-bottom: 1rem !important ;
  }

  .subtitle-page-title {
    font-size: 1.2rem;
    color: var(--white) !important;
    margin-bottom: 0rem !important ;
  }