@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import url('variables.css');

/* Header styling */
header {
    background-color: var(--white) !important; 
    background: #ffffff;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;  
    text-align: center; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

header .navbar {
    background-color: var(--white) !important; 
    background: #ffffff;
    width: 90%;
    border-radius: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    overflow: hidden;
}

header .navbar-item-logo {
    
    background-color: #91a0a5; 
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

header .navbar-brand {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
  }
  
header .navbar-end {
    display: flex; 
    justify-content: flex-end; 
  }