@import url("variables.css");

/* Header styling */
header {
  background-color: var(--white) !important;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 1rem;
  padding-top: 0px !important;
}

header .navbar {
  background-color: var(--white) !important;
  background: #ffffff;
  width: 90%;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  overflow: hidden;
}

header .has-background-white {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin-bottom: 2 rem !important;
}

header .navbar-end {
  display: flex;
  justify-content: flex-end;
}

header .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%; /* Stretch box to full width */
  padding: 20px;
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

header .button {
    /* padding: 1rem; */
    margin-left: 0.5rem;
}

