.container-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container.mTop {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.custom-wide-container {
  width: 100%;
  margin: 0 auto;
}

.has-background-white {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin-bottom: 2 rem !important;
}

.panel-fixed-height {
  display: flex;
  flex-direction: column;
  height: 100%; 
  max-height: 600px;
  overflow: hidden;
}

.scrollable-panel-blocks {
  flex: 1;
  overflow-y: auto;
}

/* .column {
  display: flex;
  flex-direction: column;
  height: 100%;
} */
/*  
.panel {
  display: flex;
  flex-direction: column;
     flex: 1; 
  overflow: hidden;
}

.scroll-panel-content {
  overflow-y: auto;
  padding-right: 0.5rem; 
  max-height: 60vh;
} */
