@import url("variables.css");

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90vw;
  /* Stretch box to full width */
  padding: 20px;
  box-sizing: border-box;
  /* Ensures padding doesn't affect the width */
}

.box {
  width: 90vw;
  max-width: 90vw;
  margin: 0 auto;
}

.profile-information {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.profile-information li {
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
}

.card {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  -webkit-transition: background 0.3s ease, box-shadow 0.3s ease;
  -moz-transition: background 0.3s ease, box-shadow 0.3s ease;
  -ms-transition: background 0.3s ease, box-shadow 0.3s ease;
  -o-transition: background 0.3s ease, box-shadow 0.3s ease;
  border-radius: 1rem;
  display: flex;
}

.card-header {
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: none;
  background-color: none;
  margin: 1rem;
}

.title {
  /* font-size: 1.5rem; */
  font-weight: bold;
  color: var(--pastel-pink-colour) !important; ;
}
