.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0rem;
    width: 100%;  /* Make the main content stretch full width */
    height: 90%;  /* Adjust this as needed */
}

h1 {
    align-items: left;
}

.table {
    table-layout: fixed; /* Ensure fixed column width for consistency */
    width: 100%; /* Ensure the table stretches across the full width of its container */
    background-color: white;
   
}

th, td {
    text-align: left; /* Align the content to the left */
    padding: 8px; /* Add padding for better readability */
    color: black !important;
}

th {
    font-weight: bold; /* Make headings bold */
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90vw;  /* Stretch box to full width */
    padding: 20px;
    box-sizing: border-box;  /* Ensures padding doesn't affect the width */
    
}

.columns {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 100%;  /* Stretch columns to full width */
}

.columns .content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.container-users {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;  /* Ensure the container takes full screen height */
}

.box {
    width: 100%;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 6px 15px var(--shadow-color);
    background-color: var(--white);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
