:root {
  --yellow-colour: #f9c92b;
  --red-colour: #ed3b24;
  --blue-colour: #254993;
  --teal-colour: #cde4cb;
  --pastel-pink-colour: #eaa6b2;

  /* Neutral shades */
  --white: #ffffff;
  --light-gray: #f7f7f7;
  --dark-gray: #333333;
  --black-colour: #000000;
  --shadow-color: rgba(0, 0, 0, 0.1);
}
