<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body class="container-index">
        <div class="content">
            <div class="main-content" style="align-content: center;">
                <form class="box">
                    <h1 class="title">Welcome to the Academic Progress Monitoring System 🎓</h1>
                    <h2 class="title">Login</h2>
                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                          <input class="input" type="email" placeholder="e.g. alex@example.com" />
                        </div>
                      </div>
                    
                      <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                          <input class="input" type="password" placeholder="********" />
                        </div>
                      </div>
                    
                      <button class="button is-primary">Sign in</button>
                </form>

            </div>
        </div>
        </div>
</body>

</html>