<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Progress</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/progress.css" />
  </head>

  <body class="container-main">
    <div class="container mTop">
      <% console.log('user data', user); %> <%-
      include('../partials/header.ejs') %> <%-
      include('../partials/dashboard-pages-welcome.ejs') %>
    </div>
  </body>
</html>
