<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    
</head>

<body class="container-main">
    <div class="container mTop">
        <% console.log('user data', user); %>
        
        <%- include('../partials/header.ejs') %>
        
        <%- include('../partials/dashboard-pages-welcome.ejs') %>

                <!-- Services -->
                <div class="has-background-white p-6 mtopclear mybk3 rounded-box">
                        <!-- <h2 class="title">Welcome, Student name - student number</h2> replace with user data -->
                        <p>Welcome to your student dashboard.</p>
                        <p>Here you can view your academic progress, access your courses, and more.</p>
                        <p>Use the Services hub below to access different sections of the dashboard.</p>
                        <p>Your academic progress at a glance.</p> 

                        <h2 class="title " style="padding-top: 1rem;"> <span></span>Services</h2>

                        <div class="columns is-mobile is-multiline">
                            <div class="column is-flex is-justify-content-center is-align-items-center is-one-quarter-tablet is-half-mobile">
                                <div class="card cardH" onclick="window.location.href='/student-dashboard/profile';" style="cursor: pointer;">
                                    <div class="card-content">
                                        <span class="material-icons">Profile</span>
                                        <div class="content is-size-7">
                                            View your Academic profile overview, update your personal information, and more.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="column is-flex is-justify-content-center is-align-items-center is-one-quarter-tablet is-half-mobile">
                                <div class="card cardH" onclick="window.location.href='/student-dashboard/courses';" style="cursor: pointer;">
                                    <div class="card-content">
                                        <span class="material-icons">Courses</span>
                                        <div class="content is-size-7">
                                            View all the courses you are enrolled on, view grades, and course status.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="column is-flex is-justify-content-center is-align-items-center is-one-quarter-tablet is-half-mobile">
                                <div class="card cardH" onclick="window.location.href='/student-dashboard/progress';" style="cursor: pointer;">
                                    <div class="card-content">
                                        <span class="material-icons">Progress</span>
                                        <div class="content is-size-7">
                                            View your overall academic record, progress decision, and more.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="column is-flex is-justify-content-center is-align-items-center is-one-quarter-tablet is-half-mobile">
                                <div class="card cardH" onclick="window.location.href='/student-dashboard/notifications';" style="cursor: pointer;">
                                    <div class="card-content">
                                        <span class="material-icons">Notifications</span>
                                        <div class="content is-size-7">
                                            View, receive, and send messages to your administrators. Contact advisors for assistance and get feedback.
                                        </div>
                                    </div>
                                </div>
                            </div>

                </div>
    </div>
</body>
</html>