<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    
</head>


<body class="container-users">
    <div class="container mTop">
        <%- include('../partials/header.ejs') %>
        
        <!-- create row -->
        <div class="columns is-variable is-multiline " style="align-items: center;">

            <!-- create column for content and nav bar -->
            <div class="column">

                <!-- Services -->
                <div class="has-background-white p-6 mtopclear mybk3 rounded-box">
                    <class="content">

                        <h2 class="title">Welcome, Student!</h2>
                        <p>Welcome to your student dashboard.</p>
                        <p>Here you can view your academic progress, access your courses, and more.</p>
                        <p>Use the Services hub below to access different sections of the dashboard.</p>
                        <p>Your academic progress at a glance.</p> 

                        <h2 class="title " style="padding-top: 1rem;"> <span></span>Services</h2>

                        <div class="columns is-mobile is-multiline">
                            <div
                                class="column is-flex  is-justify-content-center is-align-items-center  is-one-quarter-tablet is-half-mobile  ">
                                <div class="card cardH">
                                    <div class="card-content">
                                        <span class="material-icons">Courses</span>
                                        <div class="content is-size-7">
                                            Here you can view all the courses you are enrolled on, view grades and course status.
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div
                                class="column is-flex  is-justify-content-center is-align-items-center is-one-quarter-tablet is-half-mobile">
                                <div class="card cardH">
                                    <div class="card-content">
                                        <span class="material-icons">Progress</span>
                                        <div class="content is-size-7">
                                           View your overall academic record, progress decission and more.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="column is-flex  is-justify-content-center is-align-items-center is-one-quarter-tablet is-half-mobile">
                                <div class="card cardH">
                                    <div class="card-content">
                                        <span class="material-icons">Notifications</span>
                                        <div class="content is-size-7">
                                            View, recieve and send messages to your administators. Here you can contact advisors for assistance and get feedback.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="column is-flex  is-justify-content-center is-align-items-center is-one-quarter-tablet is-half-mobile">
                                <div class="card cardH">
                                    <div class="card-content">
                                        <span class="material-icons">Profile</span>
                                        <div class="content is-size-7">
                                            View your Academic profile overview, update your personal information and more.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
</html>