<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/user.css">
    
</head>


<body class="container-users">
    

    <div class="container mTop">

        <!-- create row -->
        <div class="columns is-variable is-multiline">

            <!-- create column for side bar -->
            <div class="column is-one-quarter-tablet">

                <!-- Side -->
                <div class="box">
                    <div class="p-5">
                        <div class="is-size-5-desktop is-size-5-tablet is-size-4-mobile has-text-weight-semibold">
                        Student Profile
                        
            
                        <ul class="mt-4 ml-4 profile-information">
                            <li>
                                <p><span>Name: </span>John Doe</p>
                            </li>
                            <li>
                                <p><span>Student Number: </span>123456789</p>
                            </li>
                            <li>
                                <p><span>Pathway: </span>Software Development</p>
                            </li>
                            <li>
                                <p><span>Email: </span> gandalf@jswizard.com</p>
                            </li>
                            <li>
                                <p><span>Year of Study: </span>2nd Year</p>
                            </li>
                        </ul>

                        Progression Summary 
                        <ul class="mt-4 ml-4 profile-information">
                            <li>
                                <p><span>Total Credits Earned: </span>120</p>
                            </li>
                            <li>
                                <p><span>Average Grade: </span>75%</p>
                            </li>
                            <li>
                                <p><span>Progression Status: </span>Accepted to year 2</p>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            
            </div>
            <!-- create column for content and nav bar -->
            <div class="column">


                <!-- nav bar -->
                <div class="box">

                    <table class="table is-fullwidth" >
                        <thead>
                            <tr>
                                <th>Module Code</th>
                                <th>Module Name</th>
                                <th>Grade</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SD101</td>
                                <td>Programming Fundamentals</td>
                                <td>A</td>
                                <td><span class="tag is-success">Pass</span></td>
                            </tr>
                            <tr>
                                <td>SD102</td>
                                <td>Data Structures</td>
                                <td>B+</td>
                                <td><span class="tag is-success">Pass</span></td>
                            </tr>
                            <tr>
                                <td>SD103</td>
                                <td>Web Development</td>
                                <td>C</td>
                                <td><span class="tag is-warning">Fail</span></td>
                            </tr>
                            <tr>
                                <td>SD104</td>
                                <td>Software Engineering</td>
                                <td>A-</td>
                                <td><span class="tag is-success">Pass</span></td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <!-- Services -->
                <div class="has-background-white p-6 mtopclear mybk3 rounded-box">
                    <div class="content">
                        <h3 class="title"> <span></span>Services</h3>

                        <div class="columns is-mobile is-multiline">
                            <div
                                class="column is-flex  is-justify-content-center is-align-items-center  is-one-quarter-tablet is-half-mobile  ">
                                <div class="card cardH">
                                    <div class="card-content">
                                        <span class="material-icons">menu_book</span>
                                        <div class="content is-size-7">
                                            Wisdom - The wisest being with a deep knowledge of history, culture ...
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div
                                class="column is-flex  is-justify-content-center is-align-items-center is-one-quarter-tablet is-half-mobile">
                                <div class="card cardH">
                                    <div class="card-content">
                                        <span class="material-icons">star</span>
                                        <div class="content is-size-7">
                                            Magical powers - Cast beams of light, start and direct fires, and more.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="column is-flex  is-justify-content-center is-align-items-center is-one-quarter-tablet is-half-mobile">
                                <div class="card cardH">
                                    <div class="card-content">
                                        <span class="material-icons"> psychology</span>
                                        <div class="content is-size-7">
                                            Telepathy - Read people's minds and control their minds.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="column is-flex  is-justify-content-center is-align-items-center is-one-quarter-tablet is-half-mobile">
                                <div class="card cardH">
                                    <div class="card-content">
                                        <span class="material-icons">face_shake</span>
                                        <div class="content is-size-7">
                                            Telekinesis - Can move objects and persons with his mind.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</body>
</html>