<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body class="container-main">
    <div class="content">
        <div class="main-content">
            <form class="box">
                <h1 class="title">Contact Us</h1>

                <img src="images/Contact-Image-child-with-speakerphone.png" alt="Contact Image child with speakerphone" class="contact-image" />
                
                <h2 class="title">Get In Touch — We're Here to Help!</h2>
            
                <div class="field">
                    <label class="label">Name:</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g. Alex Smith">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email:</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="e.g. alex@example.com">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Subject:</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="e.g. Subject of issue">
                    </div>
                </div>
                
                <div class="field">
                    <label class="label">Message:</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="Describe your issue here..." rows="6"></textarea>
                    </div>
                </div>
                
                <button class="button is-primary is-fullwidth">Submit</button>

                <p class="register-text">
                   Have an account? <a href="/login">Login here</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>